<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Way of working</title>
</head>
<body>
<h3>Way of working</h3>
<style type="text/css">
    body {
        background-color: lightcyan;
    }
</style>
<p align="center">Wi-Fi Aware improves on existing proximity offerings by delivering a truly here-and-now contextual
    awareness solution
    that works well indoors and in dense environments, without requiring a cellular, Wi-Fi, or GPS connection. The
    technology provides an easy onramp for a high-performance Wi-Fi connection and works at typical Wi-Fi range.</p>
<p align="center">
    Wi-Fi Aware-enabled experiences will be application-driven, and users will be able to control privacy settings and
    opt-in to desired notifications. Users can configure an application to offer and/or seek services on nearby devices,
    exchanging basic information without making a connection to that device.
</p>
<p align="center">
    When an interesting experience is found, the application can initiate a high-performance Wi-Fi connection, using
    Wi-Fi Direct or infrastructure Wi-Fi, to do things like sharing photos or playing a multiplayer game.
</p>
<h3>Will Wi-Fi Aware drain the battery on my mobile device?</h3>
<p align="center">Wi-Fi Aware was designed to be very power efficient. Wi-Fi Aware devices establish clusters with a
    common “heartbeat” to
    exchange small messages about services available nearby. Continuous discovery can occur without putting undue burden
    on
    the battery of a mobile device.
</p>
<p align="center">
    Wi-Fi Aware operates in 2.4 GHz and 5 GHz.
</p>
<iframe width="700" height="500" src="https://www.youtube.com/embed/xwSYPqqhTsQ" frameborder="0"
        allowfullscreen></iframe>
<p><input type="button" value="Назад" onclick="history.back()"></p>
</body>
</html>