<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Способ работы + видео</title>
</head>
<body>
<style type="text/css">
    body {
        background-color: lightcyan ;
    }
</style>
<h3>Способ работы + видео</h3>
<p align="center"> Альянс Wi-Fi Alliance разработал спецификацию и начал процесс сертификации технических решений на
    соответствие новой
    функции Wi-Fi Aware, позволяющей приложению найти совместимые программные средства на находящихся вблизи
    устройствах.
    Обмен построен по принципы одноранговой сети (т.е. без выделенных серверов), поэтому точки доступа, как серверы
    (узлы)
    сети Wi-Fi становятся ненужными (равно как и другие сторонние средства обнаружения, например по координатам GPS или
    в
    сети сотовой связи).
    Надо заметить, что Wi-Fi Aware является прямым конкурентом аналогичной технологии Bluetooth Smart,
    на основе которой действуют программные средства Apple iBeacon и Google Eddystone, разработанные с теми же целями,
    что и
    Wi-Fi Aware.
</p>
<p align="center">Во всех случаях между двумя устройствами возможен обмен данными в обе стороны и полезных примеров
    использования такого взаимодействия может быть великое множество. На физическом уровне для формирования канала связи
    применяются
    рассылка коротких тестовых сообщений в обычных частотных каналах Wi-Fi, а после создания такого канала возможен
    обмен «тяжелым» контентом, в том числе аудио и видео. Поиск соседних устройств производится службой автоматического
    обнаружения Wi-Fi Aware, причем после обнаружения соседнего устройства рассылка сообщений поиска заканчивается и оба
    устройства переходят в режим соединения с обменом сигналами работоспособности (heartbeat), позволяющими оценить
    текущее состояние устройства и синхронизировать обмен информацией. Такая схема формирования канала связи не самая
    удачная с точки зрения скорости, но весьма эффективна по энергосбережению, поскольку позволяет максимально экономить
    электропитание от аккумулятора при широковещательных рассылках для поиска соседнего устройства и во время действия
    двунаправленного канала связи между двумя устройствами.</p>
<p align="center">Wi-Fi Aware работает в диапазоне 2,4 ГГц и 5 ГГц.</p>
<iframe width="700" height="500" align="center" src="https://www.youtube.com/embed/xwSYPqqhTsQ" frameborder="0"
        allowfullscreen></iframe>
<p><input type="button" value="Назад" onclick="history.back()"></p>
</body>
</html>