<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Advantages</title>
</head>
<body>
<h3>Advantages</h3>
<style type="text/css">
    body {
        background-color: lightcyan;
    }
</style>
<p align="center">As Bluetooth Smart, technology Wi-Fi Aware provides an infrastructure for communication of neighboring
    devices, but there are three
    important differences:</p>
<ul>
    <li><p align="center">1. Aware Wi-Fi operates in excess over the existing infrastructure of Wi-Fi networks, i.e.
        with
        Internet connection necessary
        Both connected by Wi-Fi Aware devices can use one channel of communication with Wi-Fi access point. Besides,
        Installation informants beacons (for example, in a store or warehouse) can be performed in a conventional Wi-Fi
        network,
        is already available at this location.</p></li>
    <li><p align="center">2. Wi-Fi Aware provides its own high-speed connection to the Internet, but the flashing
        Bluetooth
        transmitters
        required for this connection to the cellular network, with all the ensuing problems in the coated
        premises and the acquisition of SIM-cards.</p></li>
    <li><p align="center">3. The communication channel Wi-Fi Aware operates in both directions. Yes, Bluetooth Smart can
        also
        work in both directions, but
        "Beacons» Bluetooth typically configured only to transmit mode (broadcasting), without any possibility of
        receiving
        data
        (Trend in the Bluetooth power is an accumulator, while Wi-Fi Alliance recommends "Beacon"
        detectors / emitters mains supply).</p></li>
</ul>
<p align="center">Wi-Fi Aware covers Bluetooth Smart in functionality. In addition, the access point
    (Routers and home gateways) Wi-Fi with built-in "Beacon" Bluetooth transmitters is known only by
    two companies (Aruba Networks and Cisco Meraki). Although the final products Wi-Fi Aware is not visible.</p>

<input type="button" value="Назад" onclick="history.back()">
</body>
</html>