<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Преимущества</title>
</head>
<body>
<style type="text/css">
    body {
        background-color: lightcyan;
    }
</style>
<h3>Преимущества</h3>

<p align="center"> Как и Bluetooth Smart, технология Wi-Fi Aware обеспечивает инфраструктуру для связи соседних
    устройств, но есть три
    важных отличия:
    <ul>
        <li>
<p align="center"> 1. Wi-Fi Aware действует поверх имеющейся в избытке инфраструктуры сетей Wi-Fi, т.е. при
    необходимости выхода в Интернет
    оба связанных по Wi-Fi Aware устройства могут использовать один канал связи с точкой доступа Wi-Fi. Кроме того,
    установка информаторов-радиомаяков (например, в магазине или на складе) может быть выполнена в обычной сети Wi-Fi,
    которая уже имеется в этом месте. Кстати, альянс Wi-Fi Alliance уже писал о возможности модернизации до уровня Wi-Fi
    Aware маршрутизаторов точек доступа Wi-Fi исключительно за счет обновления прошивки.
</p></li>
<li><p align="center">
    2. Wi-Fi Aware обеспечивает собственную высокоскоростную связь с Интернетом, но маячковым передатчикам Bluetooth
    потребуется для этого подключение к сети сотовой связи, со всеми вытекающими из этого проблемами с покрытием в
    помещениях и приобретением SIM-карт.
</p></li>
<li><p align="center">
    3. Канал связи Wi-Fi Aware действует в обоих направлениях. Да, Bluetooth Smart тоже может работать в обе стороны, но
    «маячки» Bluetooth обычно настраиваются только на режим передачи (вещания), без возможности какого-либо приема
    данных
    (трендом в Bluetooth является аккумуляторное электропитание, хотя Wi-Fi Alliance рекомендует для «маячковых»
    извещателей/излучателей сетевое питание).
</p></li>
</ul>
Короче, Wi-Fi Aware перекрывает Bluetooth Smart по функциональным возможностям. Кроме того, точки доступа
(маршрутизаторы или домашние шлюзы) Wi-Fi со встроенными «маячковыми» передатчиками Bluetooth пока известны только от
двух компаний (Aruba Networks и Cisco Meraki). Хотя и конечных продуктов Wi-Fi Aware пока не видно. В 2005 году группа
Bluetooth Special Interest Group (SIG) рассказала о проведенных работах по созданию высокоскоростной связи в
ультра-широком диапазоне, результатом которых стало одобрении технологии проверенной и популярной Wi-Fi для
высокоскоростного связи извещательных устройств Bluetooth.
</p>
<input type="button" value="Назад" onclick="history.back()">
</body>
</html>